.ayamelPlayer {
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-family: 'Roboto';
	user-select: none;
}

.ayamelPlayer .playerTop {
	min-height: 10px;
	background: #333;
	border-radius: 8px 8px 0 0;
}

.ayamelPlayer .topPane {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.ayamelPlayer .topPane .mediaPlayer {
	line-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	background: black;
}

.ayamelPlayer .sidebar {
	position: absolute;
	height: 100%;
	width: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	background-color: white;
}

.ayamelPlayer .sidebar.visible {
	width: 30%;
}

.ayamelPlayer .sidebarNav {
	padding: 0;
}

.ayamelPlayer .sidebarHeads {
	position: relative;
	transform-origin: 0 100%;
	margin: 0;
	white-space: nowrap;
	padding: 0;
}

.ayamelPlayer .tabHead {
	border: 1px solid lightgrey;
	padding: 1px 5px;
	opacity: 0.5;
	color: #4d4d4d;
	display: inline;
	background-color: white;
	margin: 0;
	cursor: default;
	transition: opacity .5s;
}

.ayamelPlayer .tabHead:hover, .ayamelPlayer .tabHead.selected  {
	opacity: 1;
}

.ayamelPlayer .rightBar .tabHead.selected {
	border-top: none;
}

.ayamelPlayer .leftBar .tabHead.selected {
	border-bottom: none;
}

.ayamelPlayer .tabBody {
	height: 90%;
	overflow: auto;
	display: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.ayamelPlayer .tabBody.visible {
	height: 100%;
	overflow: auto;
	display: initial;
}

.ayamelPlayer .tabContent {
	height: 100%;
	overflow: hidden;
	overflow-wrap: break-word;
	padding: 2px 2px 70px 2px;
}

.ayamelPlayer .progressBar {
	width: 90%;
	margin: auto;
	height: 5px;
	background: #eaeaea;
	position: relative;
}

.sliderContainer {
	width: 100px;
	height: 5px;
	display: inline-block;
	vertical-align: top;
	margin: 7px 0;
	padding: 0 0 2px 7px;
	position: relative;
	background: #eaeaea;
}

.ayamelPlayer .progressLevel {
	height: 5px;
	width: 0;
	display: inline-block;
	padding-left: 10px;
	padding-right: 5px;
}

.sliderLevel {
	height: 5px;
	width: 100%;
	margin-left: -7px;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 7px;
}

.ayamelPlayer .progressLevel, .sliderLevel {
	background: #0582CA;
}


.ayamelPlayer .progressKnob {
	width: 15px;
	height: 15px;
	margin-left: -10px;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.sliderKnob {
	width: 15px;
	height: 15px;
	margin-left: -7px;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.ayamelPlayer .progressKnob, .sliderKnob {
	top: -4.5px;
	left: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #0582CA;
	z-index: 1;
}

.ayamelPlayer .controlBar {
	width: 100%;
	position: relative;
	cursor: default;
	top: -45px;
	-moz-box-shadow: inset 0px -100px 100px -100px #000;
	-webkit-box-shadow: inset 0px -100px 100px -100px #000;
	box-shadow: inset 0px -100px 100px -100px #000;
}

.controlBar .widgets {
	width: 100%;
	height: 40px;
	display: block;
	position: relative;
}

.controlBar .widgets > div {
	top: 0;
	height: 30px;
	position: absolute;
	padding: 5px;
}

.widgets .left {
	left: 0;
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;
}

.widgets .right {
	right: 0;
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
}

.ayamelPlayer .control {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
}

.ayamelPlayer .button {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	color: white;
	text-align: center;
	position: relative;
}

.ayamelPlayer .button.play.paused {
	background: url("../images/play.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .button.play:not(.paused) {
	background: url("../images/pause.svg") center no-repeat;
	top: -3px;
	
}

.ayamelPlayer .rate .speed {
	background: url("../images/speed.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .volume:not(.muted) .mute {
	background: url("../images/sound.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .volume.muted .mute {
	background: url("../images/sound.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .volume.muted .sliderContainer {
	opacity: 0.5;
}

.ayamelPlayer .timeCode {
	width: 73px;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-family: 'Roboto';
	color: white;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	top: 3px;
}

.ayamelPlayer .sideToggle {
	background: url("../images/sideToggle.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .captions {
	background: url("../images/cc.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .annotations {
	background: url("../images/annotations.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .menu {
	width: 200px;
	/*min-height: 50px;*/
	background: #333;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -100px;
	z-index: 200;
	display: none;
	padding: 10px 0;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.6);

	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.ayamelPlayer .active .menu {
	display: block;
}

.ayamelPlayer .menuTipDark {
	border-top: 30px solid #111;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -15px;
}

.ayamelPlayer .menuTip {
	border-top: 30px solid #333;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -29px;
	left: 50%;
	margin-left: -15px;
}

.ayamelPlayer .menuEntry.active {
	background: #0057B8;
}

.ayamelPlayer .menuEntry {
	padding: 5px 0;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-family: 'Roboto';
}

.ayamelPlayer .menuEntry:hover {
	background: #0582CA;
}

.ayamelPlayer .noOptions {
	font-style: italic;
}

.ayamelPlayer .button.fullScreen.active {
	background: url("../images/fullscreenCancel.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .button.fullScreen:not(.active) {
	background: url("../images/fullscreen.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .button.lastCaption {
	background: url("../images/rewind.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .button.nextCaption {
	background: url("../images/forward.svg") center no-repeat;
	top: -3px;
}

.ayamelPlayer .transcriptCue:hover {
	background: #0582CA;
	color: white;
}

.ayamelPlayer .transcriptCue {
	padding: 0 6px;
}

.ayamelPlayer .transcriptCue.rtl {
	direction: rtl;
}

.ayamelPlayer .transcriptCue.active {
	background: #0057B8;
	color: white;
}

.ayamelPlayer .transcriptCue.active:hover {
	background: #0582CA;
}

/* Full Screen */

.ayamelPlayer:-webkit-full-screen {
	display: block;
	height: 100%;
	width: 100%;
}
.ayamelPlayer:-moz-full-screen {
	display: block;
	height: 100%;
	width: 100%;
}
.ayamelPlayer:-o-full-screen {
	display: block;
	height: 100%;
	width: 100%;
}
.ayamelPlayer:-ms-full-screen {
	display: block;
	height: 100%;
	width: 100%;
}
.ayamelPlayer:full-screen {
	display: block;
	height: 100%;
	width: 100%;
}

.ayamelPlayer:-webkit-full-screen .controlBar {
	position: relative;
	bottom: 0;
	z-index: 1;
}
.ayamelPlayer:-moz-full-screen .controlBar {
	position: relative;
	bottom: 0;
	z-index: 1;
}
.ayamelPlayer:-o-full-screen .controlBar {
	position: relative;
	bottom: 0;
	z-index: 1;
}
.ayamelPlayer:-ms-full-screen .controlBar {
	position: relative;
	bottom: 0;
	z-index: 1;
}
.ayamelPlayer:full-screen .controlBar {
	position: relative;
	bottom: 0;
	z-index: 1;
}

.ayamelPlayer.pseudoFullScreen {
	position: fixed;
	left: 0;
	width: 100%;
}

/* Plugins */

.ayamelPlayer .videoBox {
	background: black;
}

.ayamelPlayer video {
	display: block;
	width: 100%;
	height: 100%;
}

.ayamelPlayer .videoCaptionHolder {
	position: absolute;
	top: -45px;
	left: 0;
	width: 100%;
	height: 100%;
}

.ayamelPlayer .audioCaptionContainer {
	padding: 8px 20px 8px 0;
}

.ayamelPlayer .audioCaptionHolder {
	width: 100%;
	position: relative;
	height: 40px;

	border-left: 10px solid #333;
	border-right: 10px solid #333;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-radius: 20px;
	box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3);
	background: #222222;
	overflow: hidden;
}

.videoCaptionHolder {
	pointer-events: none;
}

.caption-cue {
	pointer-events: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

	color: white;
}

.ayamelPlayer .audioCaptionHolder .caption-cue {
	font-size: 16pt;
	box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.3), inset 0 0 0 30px #222222;
}

.ayamelPlayer #flowplayerHolder {
	width: 100%;
	height: 100%
}